---
import Layout from '../layouts/Layout.astro';
---

<Layout title='NOT FOUND'>
  <div class="content-404 absolute -z-10 h-screen w-screen flex flex-col items-center">
    <h2 class="title-404 text-center text-heading mt-32 font-bold">Page Not Found</h2>
    <img
        class="img-error h-[600px] w-[375px] m-auto" 
        src="/public/icons/header/404.svg" 
        alt="Un robot en el suelo al que se le salieron piezas internas y tiene un cartel indicando el error 404 de pagina no encontrada."
    >
  </div>
</Layout>