---
import Layout from '../layouts/Layout.astro';
import CurrentWeather from '../components/CurrentWeather.astro'
import Forecast from '../components/Forecast.astro';
import Highlights from '../components/Highlights.astro'
import HourlyForescast from '../components/HourlyForecast.astro'
import Footer from '../components/Footer.astro'
import Loading from '../components/Loading.astro'
---

<Layout title='WeatherWise App'>
	<aside class="[grid-area:aside] relative grid grid-cols-1 gap-3 h-full overflow-y-overlay before:content-[''] before:fixed before:bottom-0 before:w-full before:h-10 before:bg-gradient before:pointer-events-none before:z-[1] md:gap-1">
		<CurrentWeather />
		<Forecast />
	</aside>
	<main class="[grid-area:main]">
		<Highlights />
		<div class="hidden lg:block">
			<HourlyForescast />
		</div>
	</main>
	<footer class="[grid-area:footer] w-[96vw] md:w-full">
		<div class="lg:hidden">
			<HourlyForescast />
		</div>
		<Footer />
	</footer>
	<Loading />
</Layout>

<script src="../services/app-api"></script>

