---

---

<article 
  class="current-weather" 
  aria-label="current weather" 
  data-current-weather
>
  <div class="card card-lg current-weather-card bg-surface-color text-on-surface-color rounded-[28px] p-5">
    <h2 class="card-title text-h2">Actual</h2>
    <div class="weapper mb-3 flex gap-2 items-center">
      <p class="text-white text-heading leading-tight">
        25&deg;<sup>C</sup>
      </p>
      <img 
        src="/public/icons/weather/sunny.svg"
        width="140"
        height="140"
        alt="cielo limpio" 
        class="weather-icon mx-auto"
      >
    </div>
    <p class="text-body3 capitalize">Cielo nublado</p>

    <ul class="meta-list mt-4 pt-4 border-t-[1px] border-solid border-outline-color">
      <li class="meta-item">
        <span class="m-icon">
          <img
            src="/public/icons/header/calendar-2.svg"
            alt="calendario"
            width="24"
            height="24"
            class="m-icon"
          />
        </span>
        <p class="meta-text text-h3 font-semiBold">Jueves 16, Feb</p>
      </li>

      <li class="meta-item">
        <span class="m-icon">
          <img
            src="/public/icons/header/pin-location.svg"
            alt="pin de ubicación"
            width="24"
            height="24"
            class="m-icon"
          />
        </span>
        <p class="meta-text text-h3 font-semiBold">Córdoba, AR</p>
      </li>
    </ul>
  </div>
</article>

<style>

</style>