---
import Icon from '../components/Icon.astro'
---

<article 
  class="current-weather" 
  aria-label="current weather" 
  data-current-weather
>
  <div class="card card-lg current-weather-card bg-surface-color text-on-surface-color rounded-[28px] p-5">
    <h2 class="card-title text-h2">Actual</h2>
    <div class="weapper mb-3 flex gap-2 items-center">
      <p class="text-white text-heading leading-tight">
        25&deg;<sup>C</sup>
      </p>
      <Icon 
        icon="sunny" 
        width='140px' 
        heigth='140px'
        viewBox='0 0 404 328'
      />
    </div>
    <p class="text-body3 capitalize">Cielo nublado</p>

    <ul class="meta-list mt-4 pt-4 border-t-[1px] border-solid border-outline-color">
      <li class="meta-item flex items-center gap-2 mb-3 text-on-surface-color">
        <Icon 
        icon="calendar" 
        width='24px' 
        heigth='24px'
        viewBox='0 0 24 24'
      />
        <p class="meta-text text-h3 font-semiBold text-on-surface-variant-color">Jueves 16, Feb</p>
      </li>

      <li class="meta-item flex items-center gap-2 text-on-surface-color">
        <Icon 
          icon="pin-location" 
          width='36px' 
          heigth='36px' 
          viewBox='0 0 24 24'
        />
        <p class="meta-text text-h3 font-semiBold text-on-surface-variant-color">Córdoba, AR</p>
      </li>
    </ul>
  </div>
</article>

<style>

</style>