---
import Icon from "./IconComponent.astro"

const currentYear = new Date().getFullYear();
---
<div class=" text-on-surface-variant-color text-center flex flex-col justify-between gap-x-3 gap-y-6 mt-8 me-8 pb-6 items-center md:flex-row">
  <p class="text-body3 lg:text-body">
    &copy; {currentYear} LombardiDev. Todos los derechos reservados.
  </p>
  <p class="text-body3 flex flex-wrap justify-around items-center gap-3 lg:text-body">
    Powered by 
      <a 
        href="https://astro.build" 
        title="Astro"
        target="_blank"
        rel="noopener"
      >
        <Icon 
          icon="astro-dark" 
          width='32px' 
          heigth='32px'
          viewBox='0 0 256 366'
        />
      </a>
    and <a 
      href="https://openweathermap.org/api"
      title="OpenWeather"
      target="_blank"
      rel="noopener"
    >
      <img 
        src="/icons/header/logo_op.png" 
        alt="logo de OpenWeather"
        width="120"
        height="30"
        loading="lazy"
        >
    </a>
  </p>
</div>