---

---
<div class=" text-on-surface-variant-color text-center flex flex-row justify-between gap-x-3 gap-y-6 mt-8 me-8 pb-6 items-center">
  <p class="body-3">
    &copy; 2024 LombardiDev. Todos los derechos reservados.
  </p>
  <p class="body-3 flex flex-wrap justify-around items-center gap-3">
    Powered by 
      <a 
        href="https://astro.build" 
        title="Astro"
        target="_blank"
        rel="noopener"
      >
        <img 
          src="/public/icons/header/Astro_dark.svg" 
          alt="logo de Astro"
          width="32"
          height="32"
          loading="lazy"
          >
      </a>
    and <a 
      href="https://openweathermap.org/api"
      title="OpenWeather"
      target="_blank"
      rel="noopener"
    >
      <img 
        src="/public/icons/header/logo_OP.png" 
        alt="logo de OpenWeather"
        width="120"
        height="30"
        loading="lazy"
        >
    </a>
  </p>
</div>