---

---

<article 
  class="section forecast mt-16" 
  aria-labelledby="forecast-label" 
  data-5-day-forecast
>
  <h2 
    class="title-2 mb-2" 
    id="forecast-label"
  >
    Próximos 5 días
  </h2>
  <section class="card card-lg forecast-card">
    <ul class="flex flex-col gap-2">
      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center">
          <img 
            src="/public/icons/weather/clear.svg" 
            width="70"
            height="70"
            alt="Cielo limpio"
            class="weather-icon"
          >

          <span class="span flex justify-center items-center">
            <p class="title-2">25&deg;</p>
          </span>
        </div>

        <p class="label-1 text-on-surface-variant font-semibold text-right">17 Feb</p>
        <p class="label-1 text-on-surface-variant font-semibold text-right">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center">
          <img 
            src="/public/icons/weather/clear.svg" 
            width="70"
            height="70"
            alt="Cielo limpio"
            class="weather-icon"
          >

          <span class="span flex justify-center items-center">
            <p class="title-2">25&deg;</p>
          </span>
        </div>

        <p class="label-1 text-on-surface-variant font-semibold text-right">17 Feb</p>
        <p class="label-1 text-on-surface-variant font-semibold text-right">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center">
          <img 
            src="/public/icons/weather/clear.svg" 
            width="70"
            height="70"
            alt="Cielo limpio"
            class="weather-icon"
          >

          <span class="span flex justify-center items-center">
            <p class="title-2">25&deg;</p>
          </span>
        </div>

        <p class="label-1 text-on-surface-variant font-semibold text-right">17 Feb</p>
        <p class="label-1 text-on-surface-variant font-semibold text-right">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center">
          <img 
            src="/public/icons/weather/clear.svg" 
            width="70"
            height="70"
            alt="Cielo limpio"
            class="weather-icon"
          >

          <span class="span flex justify-center items-center">
            <p class="title-2">25&deg;</p>
          </span>
        </div>

        <p class="label-1 text-on-surface-variant font-semibold text-right">17 Feb</p>
        <p class="label-1 text-on-surface-variant font-semibold text-right">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center">
          <img 
            src="/public/icons/weather/clear.svg" 
            width="70"
            height="70"
            alt="Cielo limpio"
            class="weather-icon"
          >

          <span class="span flex justify-center items-center">
            <p class="title-2">25&deg;</p>
          </span>
        </div>

        <p class="label-1 text-on-surface-variant font-semibold text-right">17 Feb</p>
        <p class="label-1 text-on-surface-variant font-semibold text-right">Sábado</p>
      </li>
    </ul>
  </section>
</article>