---
import Icon from "./IconComponent.astro"
---

<article 
  class="section forecast mt-16 md:mt-10" 
  data-5-day-forecast
  aria-labelledby="forecast-label"
>
  <h2 
    class="text-h2 mb-2 ms-2 md:mb-4" 
    id="forecast-label"
  >
    Próximos 5 días
  </h2>
  <section class="forecast-card bg-surface-color text-on-surface-color rounded-[28px] p-5">
    <ul class="flex flex-col gap-2">
      <li class="card-item flex justify-between items-center mb-3">
        <div class="icon-wrapper flex justify-center items-center gap-2">
          <div class="ms-0 me-0">
            <Icon 
              icon="clear" 
              width='70px' 
              heigth='70px'
              viewBox='0 0 354 354'
            />
          </div>
          <span class="span flex justify-center items-center">
            <p class="text-h2 mb-0">25&deg;</p>
          </span>
        </div>

        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">17 Feb</p>
        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center mb-3">
        <div class="icon-wrapper flex justify-center items-center gap-2">
          <div class="ms-0 me-0">
            <Icon 
              icon="clear" 
              width='70px' 
              heigth='70px'
              viewBox='0 0 354 354'
            />
          </div>
          <span class="span flex justify-center items-center">
            <p class="text-h2 mb-0">25&deg;</p>
          </span>
        </div>

        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">17 Feb</p>
        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center mb-3">
        <div class="icon-wrapper flex justify-center items-center gap-2">
          <div class="ms-0 me-0">
            <Icon 
              icon="clear" 
              width='70px' 
              heigth='70px'
              viewBox='0 0 354 354'
            />
          </div>
          <span class="span flex justify-center items-center">
            <p class="text-h2 mb-0">25&deg;</p>
          </span>
        </div>

        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">17 Feb</p>
        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center mb-3">
        <div class="icon-wrapper flex justify-center items-center gap-2">
          <div class="ms-0 me-0">
            <Icon 
              icon="clear" 
              width='70px' 
              heigth='70px'
              viewBox='0 0 354 354'
            />
          </div>
          <span class="span flex justify-center items-center">
            <p class="text-h2 mb-0">25&deg;</p>
          </span>
        </div>

        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">17 Feb</p>
        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">Sábado</p>
      </li>

      <li class="card-item flex justify-between items-center">
        <div class="icon-wrapper flex justify-center items-center gap-2">
          <div class="ms-0 me-0">
            <Icon 
              icon="clear" 
              width='70px' 
              heigth='70px'
              viewBox='0 0 354 354'
            />
          </div>
          <span class="span flex justify-center items-center">
            <p class="text-h2 mb-0">25&deg;</p>
          </span>
        </div>

        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">17 Feb</p>
        <p class="text-label text-on-surface-variant font-semibold text-right w-full text-on-surface-variant-color">Sábado</p>
      </li>
    </ul>
  </section>
</article>