---
import Icon from "./IconComponent.astro"
---

<article 
  class="section highlights mt-16 md:mt-0 md:pt-8"
  data-highlights
  aria-labelledby="highlights-label"
  >
  <div class="bg-surface-color text-on-surface-color rounded-[28px] p-5 md:p-8">
    <h2 class="text-h2 mb-3 md:mb-4" id ="highlight-label">Lo destacado de Hoy</h2>
    <div class="highlight-list grid gap-5 lg:grid-cols-[1fr_1fr]">
      <div class="highlight-card one relative bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-5 lg:grid lg:grid-rows-[min-content,_1fr]">
        <h3 class="text-h3 font-semiBold text-on-surface-variant-color mb-5 lg:w-52 xl:w-full">Índice de Calidad de Aire</h3>
        <div class="wrapper flex justify-between gap-4 items-center">
          <Icon
            icon="wind-good" 
            width='70px' 
            heigth='70px'
            viewBox='0 0 263 221'
          />
          <ul class="card-list flex items-center flex-wrap gap-y-2">
            <li class="card-item flex items-center w-1/2 justify-end gap-1">
              <p class="text-h1">23.3</p>
              <p class="text-h1">PM<sub>2.5</sub></p>
            </li>

            <li class="card-item flex items-center w-1/2 justify-end gap-1">
              <p class="text-h1">23.3</p>
              <p class="text-h1">PM<sub>2.5</sub></p>
            </li>

            <li class="card-item flex items-center w-1/2 justify-end gap-1">
              <p class="text-h1">23.3</p>
              <p class="text-h1">PM<sub>2.5</sub></p>
            </li>

            <li class="card-item flex items-center w-1/2 justify-end gap-1">
              <p class="text-h1">23.3</p>
              <p class="text-h1">PM<sub>2.5</sub></p>
            </li>
          </ul>
        </div>

        <span class="badge aqi-1 label-1 text-on-surface-variant-color absolute top-4 right-4 py-2 px-12 rounded-3xl font-semiBold cursor-help md:top-5 md:right-5" title="AQI Mensaje">
          Bueno
        </span>

      </div>

      <div class="card card-sm highlight-card two relative flex flex-col justify-between bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-8">
        <h3 class="title-3 text-h3 font-semiBold mb-5">Amanecer & Atardecer</h3>
        <div class="card-list flex items-center content-center">
            <div class="card-item flex items-center w-1/2 justify-center flex-wrap gap-x-8 gap-y-16 md:gap-x-3 md:gap-y-2">
              <Icon 
                icon="sunrise" 
                width='50px' 
                heigth='50px'
                viewBox='0 0 307 179'
              />
              <div>
                <p class="label-1 text-label text-on-surface-variant-color mb-1">Amanecer</p>
                <p class="text-h3 lg:text-[2rem]">06.30 AM</p>
              </div>
            </div>

            <div class="card-item flex items-center w-1/2 justify-center flex-wrap gap-x-8 gap-y-16 md:gap-x-3 md:gap-y-2">
              <Icon 
                icon="night" 
                width='50px' 
                heigth='50px'
                viewBox='0 0 313 317'
              />
              <div>
                <p class="label-1 text-label text-on-surface-variant-color mb-1">Atardecer</p>
                <p class="text-h3 lg:text-[2rem]">17.54 PM</p>
              </div>
            </div>
        </div>
      </div>

      <div class="card card-sm highlight-card relative bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
        <h3 class="title-3 text-h3 font-semiBold mb-5">Humedad</h3>
        <div class="wrapper flex justify-between gap-4 items-center">
          <div class="m-3">
            <Icon 
              icon="humidity" 
              width='24px' 
              heigth='24px'
              viewBox='0 0 175 247'
            />
          </div>
          <p class="text-h1">35<sub>%</sub></p>
        </div>
      </div>

      <div class="card card-sm highlight-card relative bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
        <h3 class="title-3 text-h3 font-semiBold mb-5">Presión</h3>
        <div class="wrapper flex justify-between gap-4 items-center">
          <div class="m-3">
            <Icon 
              icon="pressure" 
              width='24px' 
              heigth='24px'
              viewBox='0 0 512.00 512.00'
            />
          </div>

          <p class="text-h1">1052<sub>hPa</sub></p>
        </div>
      </div>

      <div class="card card-sm highlight-card relative bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
        <h3 class="title-3 text-h3 font-semiBold mb-5">Visibilidad</h3>
        <div class="wrapper flex justify-between gap-4 items-center">
          <div class="m-3">
            <Icon 
              icon="visibility" 
              width='24px' 
              heigth='24px'
              viewBox='0 0 512 512'
            />
          </div>
          <p class="text-h1">10<sub>Km</sub></p>
        </div>
      </div>

      <div class="card card-sm highlight-card relative bg-black-alpha-10 text-on-surface-color rounded-2xl p-4 md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
        <h3 class="title-3 text-h3 font-semiBold mb-5">Sensación térmica</h3>
        <div class="wrapper flex justify-between gap-4 items-center">
          <div class="m-3">
            <Icon 
              icon="thermostat" 
              width='28px' 
              heigth='28px'
              viewBox='0 0 217 342'
            />
          </div>

          <p class="text-h1">25&deg;<sup>C</sup></p>
        </div>
      </div>
    </div>
  </div>
</article>


<style>
  .badge.aqi-1 {
    background-color: var(--bg-aqi-1-color);
    color: var(--on-bg-aqi-1-color);
  }

  .badge.aqi-2 {
    background-color: var(--bg-aqi-2-color);
    color: var(--on-bg-aqi-2-color);
  }

  .badge.aqi-3 {
    background-color: var(--bg-aqi-3-color);
    color: var(--on-bg-aqi-3-color);
  }

  .badge.aqi-4 {
    background-color: var(--bg-aqi-4-color);
    color: var(--on-bg-aqi-4-color);
  }

  .badge.aqi-5 {
    background-color: var(--bg-aqi-5-color);
    color: var(--on-bg-aqi-5-color);
  }
</style>