---
import Icon from "./IconComponent.astro"
---
<article 
  class="section hourly-forecast lg:mt-12"
  data-hourly-forecast
  aria-label="hourly-forecast"
>
  <h2 class="title-2 text-h2 mb-3 md:mb-4 md:pt-8">A partir de</h2>
  <div class="slider-container overflow-x-auto -mx-4 md:mx-0">
    <ul class="slider-list flex gap-3 before:content-[''] before:min-w-1 after:content-[''] after:min-w-1 first:mb-4 md:before:content-none md:grid md:grid-cols-[repeat(7,_1fr)] md:gap-12" data-temp>
      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width= '48px'
              heigth= '48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="01d" 
              width='48px' 
              heigth='48px'
              viewBox='0 0 404 328'
            />
          </div>
          <p class="body-3 text-body3">25&deg;</p>
        </div>
      </li>
    </ul>

    <ul class="slider-list flex gap-3 before:content-[''] before:min-w-1 after:content-[''] after:min-w-1 first:mb-4 md:before:content-none md:grid md:grid-cols-[repeat(7,_1fr)] md:gap-12" data-wind>
      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>

      <li class="slider-item min-w-28 flex flex-2 md:flex-none md:grid">
        <div class="card card-sm slider-card bg-surface-color text-on-surface-color rounded-2xl p-4 text-center md:p-5 md:grid md:grid-rows-[min-content,_1fr]">
          <p class="body-3 text-body3"> 15.00 PM</p>
          <div class="weather-icon mx-auto my-3">
            <Icon
              icon="arrow" 
              width='40px' 
              heigth='40px'
              viewBox='0 0 32 32'
            />
          </div>
          <p class="body-3 text-body3">12 km/h</p>
        </div>
      </li>
    </ul>
  </div>
</article>
