<article class="section hourly-forecast" aria-label="hourly-forecast" data-hourly-forecast>
  <h2 class="title-2">A partir de</h2>
    <div class="slider-container overflow-x-auto -ms-4 -me-4">
      <ul class="slider-list flex gap-3 mb-4 before:content-[''] before:min-w-1 after:content-[''] after:min-w-1" data-temp>
        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/weather/sunny.svg" 
              alt=""
              title=""
              loading="lazy"
              width="48"
              height="48"
              class="weather-icon"
            >
            <p class="body-3">25&deg;</p>
          </div>
        </li>
      </ul>

      <ul class="slider-list flex gap-3 before:content-[''] before:min-w-1 after:content-[''] after:min-w-1" data-wind>
        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>

        <li class="slider-item min-w-28 flex-1 flex-shrink-1 flex-grow-1">
          <div class="card card-sm slider-card">
            <p class="body-3"> 15.00 PM</p>
            <img 
              src="/public/icons/arrows/arrow-ct.svg" 
              alt=""
              title=""
              loading="lazy"
              width="40"
              height="40"
              class="weather-icon"
            >
            <p class="body-3">12 km/h</p>
          </div>
        </li>
      </ul>
    </div>
</article>

<style>
  .slider-container::-webkit-scrollbar {
    display: none;
  }

  /* .slider-list {
    display: flex;
    gap: var(--gap-075);
  } */

  /* .slider-list:first-child {
    margin-block-end: var(--p-16);
  } */

  /* .slider-list::before,
  .slider-list::after {
    content: "";
    min-width: var(--p-4);
  } */

  /* .slider-item {
    min-width: var(--w-7);
    flex: 1 1 100%;
  } */

  .slider-card {
    text-align: center;
  }

  .slider-item .weather-icon {
    margin-inline: auto;
    margin-block: var(--p-12);
  }
</style>