---

---

<div class="container flex items-center justify-between">
  <a href="/" class="logo flex items-center">
    <img 
        src="/public/icons/header/logo.svg" 
        alt="logo de la página"
        width="40"
        height="40"
        class=""
      />
    <h1 class="text-h1">WeatherWise</h1>
  </a>

  <!-- active -->
  <section 
    class="search-view fixed top-0 left-0 w-full h-svh bg-surface-color text-on-surface-color clip-circle opacity-0 z-10 active:opacity-100 active:visible active:clip-circle2"
    data-search-view
  >
    <article 
      class="search-wrapper relative border-b border-solid border-outline-color before:content-[''] before:absolute before:top-1/2 before:transform before:-translate-y-1/2 before:right-4 before:w-10 before:h-10 before:border-[3px] before:border-solid before:border-on-surface-color before:rounded-full before:border-t-transparent before:animate-loading before:hidden has-[.searching]:before:block" 
    >
      <!-- searching -->
      <input 
        type="search" 
        class="search-field h-20 leading-[80px] ps-20 pe-4 focus:outline-none placeholder:text-on-surface-variant-2-color appearance-none"
        placeholder="Buscar ciudad..."
        autocomplete="off"
        data-search-field
      > 
      <img
        src="/public/icons/header/search-location.svg"
        alt="lupa de búsqueda"
        width="24"
        height="24"
        class="hidden"
        data-search-icon
      />
      <button 
      class="icon-btn has-state leading-icon absolute top-1/2 left-[25px] transform -translate-y-1/2 -translate-x-1/2 bg-transparent shadow-none" 
      aria-label="Cerrar búsqueda"
      data-search-toggler
      >
        <img 
          src="/public/icons/header/arrow-back.svg" 
          alt="Cerrar búsqueda"
          width="24"
          height="24"
          data-search-toggler-icon
        >
      </button>
    </article>

    <article class="search-result" data-search-result>
      <ul class="view-list pt-2 pb-4" data-search-list>
        <li class="view-item relative h-14 flex content-start items-center gap-4 ps-4 pe-6">
          <img
            src="/public/icons/header/pin-location.svg"
            alt="pin de ubicación"
            width="32"
            height="32"
            data-search-pin-icon
            class="text-on-surface-variant-color"
          />
          <div>
            <p class="item-title">Córdoba</p>
            <p class="label-2 item-subtitle text-on-surface-variant-color">República Argentina, AR</p>
          </div>
          <a href="#" class="item-link has-state absolute inset-0 shadow-none" data-search-toggler></a>
        </li>
      </ul>
    </article>
  </section>

  <section class="header-actions flex items-center gap-4">
    <button
      class="icon-btn has-state relative"
      aria-label="Abrir buscador"
      data-search-toggler
    >
      <img 
        src="/public/icons/header/search.svg" 
        alt="buscador"
        width="24" 
        height="24"
        data-search-toggler-icon
      />
    </button>
    <a 
      href="#/current-location" 
      class="btn-primary has-state relative px-3" 
      data-current-location-btn
    >
      <img
        src="/public/icons/header/location.svg"
        alt="pin de ubicación"
        width="24"
        height="24"
        data-current-location-btn-icon
      />
      <span class="span hidden">Ubicación actual</span>
    </a>
  </section>
</div>


<style>

</style>