---
import Icon from "./IconComponent.astro"
---

<div class="w-full mx-auto p-6 flex items-center justify-between fixed top-0 left-0 z-10 bg-opacity-50 backdrop-blur-lg">
  <a href="/" class="logo flex items-center">
      <Icon 
        icon="logo" 
        width='40px' 
        heigth='40px'
        viewBox='0 0 24 24'
      />
    <h1 class="text-h1 md:text-[2.4rem]">WeatherWise</h1>
  </a>

  <section 
    class="search-view fixed top-0 left-0 w-full h-svh bg-surface-color text-on-surface-color clip-circle opacity-0 hidden z-[2] active:opacity-100 active:visible active:clip-circle2 md:clip-circle4 lg:active lg:[all:unset] lg:block lg:relative lg:width-[500px] lg:animate-none lg:active:[all:unset] lg:active:block lg:active:relative lg:active:width-[500px] lg:active:animate-none"
    data-search-view
  >
    <article 
      class="search-wrapper relative border-b border-solid border-outline-color before:content-[''] before:absolute before:top-1/2 before:transform before:-translate-y-1/2 before:right-4 before:w-10 before:h-10 before:border-[3px] before:border-solid before:border-on-surface-color before:rounded-full before:border-t-transparent before:animate-loading before:hidden has-[.searching]:before:block group lg:border-none" 
    >
      <input
        class="search-field h-20 leading-[80px] ps-20 pe-4 focus:outline-none placeholder:text-on-surface-variant-2-color appearance-none lg:bg-surface-color lg:h-14 lg:rounded-[28px] lg:w-[400px]"
        name="searching location"
        data-search-field
        type="search"
        placeholder="Buscar ciudad..."
        autocomplete="off"
      > 
      <div class="hidden xl:block xl:absolute xl:top-1/2 xl:left-[28px] xl:transform xl:-translate-y-1/2 xl:-translate-x-1/2">
        <Icon 
          icon="search-location" 
          width='24px' 
          heigth='24px'
          viewBox='0 -0.5 25 25'
          data-search-icon
        />
      </div>
      <button 
      class="leading-icon w-12 h-12 grid place-items-center rounded-full absolute top-1/2 left-[28px] transform -translate-y-1/2 -translate-x-1/2 bg-transparent shadow-none hover:shadow-shadow1 focus:shadow-none focus-visible:shadow-none before:content-[''] before:absolute before:inset-0 before:rounded-[inherit] before:clip-circle3 before:ease-in-out before:duration-100 hover:before:bg-white-alpha-4 focus:before:bg-white-alpha-8 focus:before:animate-ripple xl:hidden" 
      data-search-toggler
      aria-label="Cerrar búsqueda"
      >
        <Icon 
          icon="arrow-back" 
          width='24px' 
          heigth='24px'
          viewBox='0 0 24 24'
          data-search-toggler-icon
        />
      </button>
    </article>

    <article class="search-result lg:block" data-search-result></article>
  </section>

  <section class="header-actions flex items-center gap-4 md:gap-6 justify-between">
    <button
      class="w-16 h-16 grid place-items-center rounded-full relative hover:shadow-shadow1 focus:shadow-none focus-visible:shadow-none before:content-[''] before:absolute before:inset-0 before:rounded-[inherit] before:clip-circle3 before:ease-in-out before:duration-100 hover:before:bg-white-alpha-4 focus:before:bg-white-alpha-8 focus:before:animate-ripple xl:hidden"
      data-search-toggler
      aria-label="Abrir buscador"
    >
      <Icon 
        icon="search" 
        width='24px' 
        heigth='24px' 
        viewBox='0 0 24 24'
        data-search-toggler-icon
      />
    </button>
    <a
      class="bg-primary-color text-on-primary-color h-16 leading-[48px] max-w-max flex items-center gap-4 rounded-[28px] relative px-3 hover:shadow-shadow1 focus:shadow-none focus-visible:shadow-none before:content-[''] before:absolute before:inset-0 before:rounded-[inherit] before:clip-circle3 before:ease-in-out before:duration-100 hover:before:bg-white-alpha-4 focus:before:bg-white-alpha-8 focus:before:animate-ripple disabled:bg-outline-color disabled:text-on-surface-variant-color disabled:cursor-not-allowed disabled:before:hidden md:px-4"  
      data-current-location-btn
      href="#/current-location"
    >
      <Icon 
        icon="location" 
        width='24px' 
        heigth='24px' 
        viewBox='0 0 24 24'
        data-current-location-btn-icon
      />
      <span class="font-semiBold text-h5 hidden md:block lg:text-h4">Ubicación actual</span>
    </a>
  </section>
</div>

<script src="../services/route-api"></script>