---
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro'

interface Props {
	title: string;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<MainHead title={title}	description={description} />
	</head>
	<body>
		<div 
			class=" relative p-4 gap-7 before:content-[''] before:fixed before:left-0 before:bottom-0 before:w-full before:h-10 before:bg-gradient md:relative md:h-screen md:p-8 md:gap-14 md:before:content-[''] md:before:fixed md:before:left-0 md:before:bottom-0 md:before:w-full md:before:h-10 md:bg-gradient header h-[calc(100svh-80px)] overflow-hidden"
			id="app" 
			data-app
			>
			<header class="[grid-area:header]">
				<Navbar />
			</header>
			<slot />
		</div>
	</body>
</html>

<style>

	#app {
	display: grid;
	grid-template-areas:
		"header"
		"aside"
		"main"
		"footer";
	grid-template-rows: 96px 1fr 1fr 96px;
	grid-template-columns: 1fr;
	overflow-y: auto;
	}

	#app:-webkit-scrollbar-thumb {
    background-color: transparent;
  }

	#app:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8);
  }

  #app::-webkit-scrollbar-button {
    height: 10px;
  }

  #app::before {
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: 1;
  }

	@media (min-width: 768px) {
		#app {
			grid-template-areas:
				"header header header"
				"aside main main"
				"footer footer footer";
			grid-template-columns: 300px 1fr 1fr;
			grid-template-rows: auto 1fr 1fr;
		}
	}
</style>

<style is:global>
	:root {
		/* COLORS */

		--primary-color: #B5A1E5;
		--on-primary-color: #100E17;
		--background-color: #131214;
		--on-background-color: #EAE6F2;
		--surface-color: #1D1C1F;
		--on-surface-color: #DDDAE5;
		--on-surface-variant-color: #7b7980;
		--on-surface-variant-2-color: #B9B6BF;
		--outline-color: #3E3D40;
		--bg-aqi-1-color: #89E589; /* Air Quality Index */
		--on-bg-aqi-1-color: #1F331F;
		--bg-aqi-2-color: #E5DD89;
		--on-bg-aqi-2-color: #33311F;
		--bg-aqi-3-color: #E5C089;
		--on-bg-aqi-3-color: #332B1F;
		--bg-aqi-4-color: #E58989;
		--on-bg-aqi-4-color: #331F1F;
		--bg-aqi-5-color: #E589B7;
		--on-bg-aqi-5-color: #331F29;
		--white: hsl(0, 0%, 100%);
		--white-alpha-4: hsla(0, 0%, 100%, 0.04);
		--white-alpha-8: hsla(0, 0%, 100%, 0.08);
		--black-alpha-10: hsla(0, 0%, 0%, 0.1);

		/* GRADIENTS */

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--gradient-1: linear-gradient(
			180deg,
			hsla(270, 5%, 7%, 0) 0%,
			hsla(270, 5%, 7%, 0.8) 65%,
			hsla(270, 5%, 7%) 100%
		);
		--gradient-2: linear-gradient(
			180deg,
			hsla(260, 5%, 12%, 0) 0%,
			hsla(260, 5%, 12%, 0.8) 65%,
			hsla(260, 5%, 12%) 100%
		);

		/* SHADOWS */

		--shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
		--shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

		/* TYPOGRAPHY */

		--ff-circular: 'CircularStd', system-ui, sans-serif;
		--ff-nunito: 'Nunito Sans', system-ui, sans-serif;

		--fz-heading: 5.6rem;
		--fz-heading-2: 3.2rem;
		--fz-heading-3: 2.4rem;
		--fz-h1: 2rem;
		--fz-h2: 1.8rem;
		--fz-h3: 1.6rem;
		--fz-h4: 1.4rem;
		--fz-h5: 1.2rem;
		--fz-h6: 1rem;
		--fz-body: 2.2rem;
		--fz-body-2: 2.0rem;
		--fz-body-3: 1.6rem;
		--fz-label: 1.4rem;
		--fz-label-2: 1.2rem;

		--fw-regular: 400;
		--fw-medium: 500;
		--fw-semi-bold: 600;
		--fw-bold: 700;
		--fw-black: 900;

		/* BORDERS */

		--br-28: 28px;
		--br-16: 16px;
		--br-pill: 500px;
		--br-circle: 50%;

		/* TRANSITIONS */

		--transitions-short: 100ms ease;
	}

	/*
	** RESET
	*/

	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	li {
		list-style: none;
	}

	a,
	img,
	span,
	input,
	button {
		display: block;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	img {
		height: auto;
	}

	input,
	button {
		background-color: inherit;
		border: none;
		color: inherit;
		font: inherit;
	}

	input {
		width: 100%;
	}

	button {
		cursor: pointer;
	}

	sub {
		
		vertical-align: baseline;
	}

	sup {
		vertical-align: super;
	}

	sub, sup {
		font-size: 0.5em;
	}

	svg {
		display: inline-block;
	}

	html {
		font-family: var(--ff-circular);
		font-size: 10px;
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--background-color);
		color: var(--on-background-color);
		font-size: var(--fz-body-3);
		overflow: hidden;
	}

	:focus-visible {
		outline: 2px solid var(--white);
		outline-offset: 2px;
	}

	::selection {
		background-color: var(--white-alpha-8);
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--white-alpha-8);
		border-radius: var(--br-pill);

	}

	.fade-in { animation: fade-in 1000ms ease forwards;}

	@keyframes fade-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}

	.badge.aqi-1 {
    background-color: var(--bg-aqi-1-color);
    color: var(--on-bg-aqi-1-color);
  }

  .badge.aqi-2 {
    background-color: var(--bg-aqi-2-color);
    color: var(--on-bg-aqi-2-color);
  }

  .badge.aqi-3 {
    background-color: var(--bg-aqi-3-color);
    color: var(--on-bg-aqi-3-color);
  }

  .badge.aqi-4 {
    background-color: var(--bg-aqi-4-color);
    color: var(--on-bg-aqi-4-color);
  }

  .badge.aqi-5 {
    background-color: var(--bg-aqi-5-color);
    color: var(--on-bg-aqi-5-color);
  }

	.slider-container::-webkit-scrollbar {
    display: none;
  }

		/*
		** FONTS
		*/

		@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Book.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Black.woff2") format("woff2");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
</style>
